.containerPrices {
    display: flex;
    justify-content: space-evenly;
}

@media screen and (min-height: 720px) and (max-height: 800px) {
    .containerPrin {
        height: 87vh;
    }

}

@media screen and (max-height: 719px) {
    .containerPrin {
        height: 98vh;
    }

}