<footer class="page-footer pt-4 footerContainer">
    <div class="text-center py-3 divEmail">
        <span> Otniel Mu&ntilde;oz - </span>
        <a href="mailto:otniel.diazescobarmunoz@gmail.com">otniel.diazescobarmunoz@gmail.com</a> ©{{now | date: 'yyyy'}}
    </div>
    <div class="text-center py-3 divLinks">
        <a href="https://github.com/otnielmunozdev" target="_blank">
             <img class="gitHubImg"
                src="../../../../assets/imgs/githubLogo.jpg"
                alt="GitHub Icon" ></a>
    </div>
</footer>