<div>
    <app-loader *ngIf="loader"></app-loader>
    <div *ngIf="(ipcData.length === 0 || ipcData === null) && !loader">
      No results!
    </div>
    <div *ngIf="(ipcData.length !== 0 && ipcData !== null) && !loader" class="tableContainer nio-scrollbar-gray" id="containerTable">
      <table datatable [dtOptions]="dtOptions" class="row-border hover" >
        <thead>
          <tr>
              <th>Date</th>
              <th>Price</th>
              <th>Percentage</th>
              <th>Volume</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let ipcRow of ipcData">
              <td>{{ipcRow.date | date:'EEE MMM d, yyyy, H:mm:ss.SS' }}</td>
              <td>{{ipcRow.price | currency:"MXN":"symbol"}}</td>
              <td [className]="ipcRow.percentageChange < 0 ? 'redClass' : (ipcRow.percentageChange > 0 ? 'greenClass': '')">{{ipcRow.percentageChange}}</td>
              <td>{{ipcRow.volume}}</td> 
          </tr>
        </tbody>
      </table>
    </div>
  </div>