<div>
    <h2 class="text-center">Do you know what the IPC is?</h2>
    <p>The Consumer Price Index, or CPI, is a metric which measures inflation by calculating the price change for a
        basket
        of goods. “Basket of goods”in this context refers to goods associated with the cost of living: transportation,
        food,
        medicine, energy, etc. The CPI establishes the prices during a base year, and calculates the price increase or
        decrease of the same goods during a later year.</p>
    <p>Mexican Consumer Price Index (Local name: IPC - Índice de Precios al Consumidor).</p>
    <a target="_blank"
        href="https://learn.financestrategists.com/finance-terms/cpi/?gclid=Cj0KCQjw06OTBhC_ARIsAAU1yOUcBgbwy1tFTRte-ogscfR6WPq_VLz-guVnt5jkN8ss2fCL31XXFjkaApPDEALw_wcB">
        Read more...</a>
</div>