.navbar {
    background-color: #000000;
    padding: 0px 0px 4px 10px;
    position: fixed;
    width: 100%;
    z-index: 100;
    box-shadow: 0px 1px 15px #fff;
}

.navbar img {
    width: 100px;
    margin: 0px;
}

.navbar .navbarContainer {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

.containerLogo {
    width: 50%;
}

.logo {
    cursor: pointer;
}

.containerAutentication {
    width: 50%;
    padding-top: 4px;
    color: #FFF;
    text-align: right;
}

.authButton {
    width: 95px !important;
    height: 36px !important;
    margin-top: 10px !important;
    margin-right: 19px !important;
}

@media screen and (max-width: 530px) {
    .textFilter {
        display: none;
    }
}

// Main wrap
.buttons {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    text-align: center;
    width: 100%;
}

// Button wrap
.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    text-align: center;

    @media (min-width: 600px) {
        flex-direction: row;
        justify-content: space-between;
    }
}

$red: #E1332D;
$white: #fff;

h1 {
    color: $white;
    font-size: 1.25em;
    font-weight: 900;
    margin: 0 0 2em;

    @media (min-width: 450px) {
        font-size: 1.75em;
    }

    @media (min-width: 760px) {
        font-size: 3.25em;
    }

    @media (min-width: 900px) {
        font-size: 5.25em;
        margin: 0 0 1em;
    }
}

p {
    color: $white;
    font-size: 12px;

    @media(min-width: 600px) {
        left: 50%;
        position: absolute;
        transform: translate(-50%, 0);
        top: 90%;
    }

    @media(max-height: 500px) {
        left: 0;
        position: relative;
        top: 0;
        transform: translate(0, 0);
    }

    a {
        background: rgba($white, 0);
        border-bottom: 1px solid;
        color: $white;
        line-height: 1.4;
        padding: .25em;
        text-decoration: none;

        &:hover {
            background: rgba($white, 1);
            color: $red;
        }
    }
}


.btn {
    color: #fff;
    cursor: pointer;
    font-weight: 400;
    line-height: 45px;
    margin: 0 0;
    max-width: 400px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 38%;

    &:hover {
        text-decoration: none;
    }
}

/////////////////////////////
//button-4 
///////////////////////////
.btn-4 {
    border: 1px solid;
    overflow: hidden;
    position: relative;

    span {
        z-index: 20;
    }

    &:after {
        background: #fff;
        content: "";
        height: 155px;
        left: -75px;
        opacity: .2;
        position: absolute;
        top: -50px;
        transform: rotate(35deg);
        transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        width: 50px;
        z-index: -10;
    }
}

.btn-4:hover {

    &:after {
        left: 120%;
        transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    }
}

/////////////////////////////
//button-5 
///////////////////////////
.btn-5 {
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    line-height: 24px !important;
}

.btn-5:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
}

.textFilter {
    color: #FFF;
    font-weight: 600;
    cursor: pointer;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    line-height: 16px;
    width: auto;
}