<nav class="navbar">
  <div class="navbarContainer">
      <div class="containerLogo">
          <img src="../../../assets/imgs/gbmlogo.jpg" alt="GBMLogo" (click)="goHome()" class="logo">
          <span *ngIf="authService.user$ | async as user" class="textFilter btn">Welcome {{user.nickname}} </span>
      </div>
      <div class="containerAutentication">
        <a class="btn btn-5 authButton" (click)="loginWithRedirect()"
           *ngIf="!(authService.isAuthenticated$ | async)">Login</a> 
        <a class="btn btn-5 authButton" (click)="logout()" 
           *ngIf="(authService.isAuthenticated$ | async)">Logout</a> 
      </div>
  </div>
</nav>